img{
    max-width:120%;
}

.back{
    max-width:120%;
    width: auto;
}

.card{
    position: relative;
    border: blue;
    border-radius: 1px;
    width: auto;
    height: auto;

}

#Usagi1{
    border: 2px solid pink;
    width: auto;
}

#Usagi2{
    border: 2px solid pink;
}

#Usagi3{
    border: 2px solid pink;
}

#Ami1{
    border: 2px solid skyblue;
}

#Ami2{
    border: 2px solid skyblue;
}

#Ami3{
    border: 2px solid skyblue;
}

#Rei1{
    border: 2px solid #FF5E5E;
}

#Rei2{
    border: 2px solid #FF5E5E;
}

#Rei3{
    border: 2px solid #FF5E5E;
}

#Makoto1{
    border: 2px solid lightgreen;
}

#Makoto2{
    border: 2px solid lightgreen;
}

#Makoto3{
    border: 2px solid lightgreen;
}

#Minako1{
    border: 2px solid yellow;
}

#Minako2{
    border: 2px solid yellow;
}

#Minako3{
    border: 2px solid yellow;
}

.card .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.girada .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    border: 2px solid #112334;
}



.girada .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}




@media screen and (max-width:1250px) {
    img{
        max-width:75%;
    }
    
    .front{
        max-width:75%;
        width: auto;
    }

    .back{
        max-width:75%;
        width: auto;
    }
    
}

@media screen and (max-width:1110px) {
    img{
        max-width:75%;
    }
    
    .front{
        max-width:75%;
        width: auto;
    }

    .back{
        max-width:75%;
        width: auto;
    }
    
}

@media screen and (max-width:500px) {
    img{
        max-width:100%;
    }
    
    .back{
        max-width:100%;
        width: auto;
    }

    .front{
        max-width:100%;
        width: auto;
    }
    
}

@media screen and (max-width:750px) {
    img{
        max-width:110%;
    }
    
    #Logo{
        max-width: 75%;
        width: auto;
    }

    .front{
        max-width:110%;
        width: auto;
    }

    .back{
        max-width:110%;
        width: auto;
    }
    
}