
.card{
    outline-color: pink;
    border-color: pink;
    background-color: white;
    color: black;
    margin: auto;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Snell Roundhand', cursive;
    font-size: 22px;
    

}
.Ganar{
    color: black
}
.boton{
    background-color: pink;
    position: relative;
    width: 100px;
    height: 50px;
    margin: 0;
    font-family: 'Snell Roundhand', cursive;
    border-radius: 50%;
    
}

.card-grid {
    display: grid;
    grid-template-columns:  145px 145px 145px 145px 145px 145px 145px 145px 145px 145px;
  }

  
 
  @media screen and (max-width:1500px) {
    .card-grid {
        display: grid;
        grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
    }
    
}


  @media screen and (max-width:1250px) {
    .card-grid {
        display: grid;
        grid-template-columns: 230px 230px 230px 230px 230px;
    }
    
}

@media screen and (max-width:1250px) {
    .card-grid {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px;
    }
    
}

  @media screen and (max-width:1000px) {
    .card-grid {
        display: grid;
        grid-template-columns:  145px 145px 145px 145px 145px;
    }
    
}

  @media screen and (max-width:750px) {
    .card-grid {
        display: grid;
        grid-template-columns:  165px 165px 165px;
    }
    
}

@media screen and (max-width:500px) {
    .card-grid {
        display: grid;
        grid-template-columns:  145px 145px 145px;
    }
    
}